.pageWrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .backgroundWrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        user-select: none;

        .background {
            width: 100%;
            height: 100%;
            position: relative;

            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 2;
            }

            .videoSource {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
        }
    }

    .mainWrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        .mainContainer {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(25%);

            .titleBox {
                text-align: center;
                user-select: none;

                h1 {
                    color: white;
                    text-align: center;
                    font-size: 5rem;
                }

                p {
                    color: white;
                    font-size: 2rem;
                }
            }

            .startBtn {
                font-family: 'NanumBarunGothic';
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25rem;
                height: 8rem;
                font-size: 3.5rem;
                font-weight: 700;
                color: white;
                text-align: center;
                user-select: none;
                cursor: pointer;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(7.7px);
                -webkit-backdrop-filter: blur(7.7px);
                border: 2px solid rgba(255, 255, 255, 1);
            }

        }
    }

    .logo {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        .logoWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                filter: invert(1);
                width: 20rem;
            }

            .divider {
                display: none;
                width: 18rem;
                height: 4px;
                margin-top: 1.5rem;
                background-color: rgb(255, 255, 255, 0.6);
                border-radius: 16px;
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 5;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        small {
            color: white;
        }
    }
}