.pageWrapper {
    width: 100%;
    height: 100%;
    background: #513973;
    background: radial-gradient(circle, rgba(81, 57, 115, 1) 0%, rgba(33, 33, 43, 1) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    .menubar {
        width: 100%;
        height: 5rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        justify-content: flex-start;
        padding: 2rem;

        .homeBtn {
            text-decoration: none;
            color: white;
            border-radius: 50%;
            border: white 4px solid;
            width: 3.5rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 70%;
                height: 70%;
            }
        }
    }
    .videoResult{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .videoPlayer {
            width: 35rem; // 세로 비율에 맞게 너비 조정
            background-color: black;
            aspect-ratio: 9 / 16; // 세로 비율
            border-radius: 1rem;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }
    
        p {
            font-size: 2rem;
            color: white;
            text-align: center;
        }
    }


    .qrCode {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .codeBox {
            width: 15rem;
            height: 15rem;
            background-color: white;
            background-image: url('/src/renderer/assets/images/sample_Qrcode.png');
            background-repeat: no-repeat;
            background-size: contain;
        }

        p {
            font-size: 1.5rem;
            color: white;
        }
    }

    .homeBtn {
        text-decoration: none;
        background-color: transparent;
        border: white solid 4px;
        border-radius: 8px;
        width: 20rem;
        height: 5rem;
        color: white;
        font-size: 2rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img {
            height: 50%;
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        padding-block: 3rem;
        color: white;
    }
}